.About-container {
    border: 5px solid rgba(255, 255, 255, 0.812);
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    padding:30px;

}

.About-project-items {
    display: grid;
    /* grid-template-columns: 10rem 10rem 10rem; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-flow: row;
    border: 3px solid rgba(255, 255, 255, 0.812);
}

.About-connect-container {
    margin-top: 5px;
    border: 3px solid rgba(255, 255, 255, 0.812);
}

.About-connect-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
        grid-auto-flow: row;
    justify-content: center;
    align-items:center;
}

.button-contacts {
    margin: 5px;
}