.Menu-container {
    background-color:rgb(171, 106, 231);
    border-color: white;
    margin: 30px;
    gap: 15px;
    position: sticky;
    top:5px;
    z-index: 1;
}

.Menu-items a {
    padding: 3px;
    margin-right: 5px;
}

ul {
    display: flex;
    float: right;
    color:blanchedalmond;
    text-align: center;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}