.Projects-container{
    margin-top: 5px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.Project-items {
        display: grid;
        /* grid-template-columns: 10rem 10rem 10rem; */
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        grid-auto-flow: row;
}

.Project-secondary-items {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
        grid-auto-flow: row;
       
        
        
}

.button-contacts {
    margin: 5px;
}